/* app css stylesheet */
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0; 
}

#page {
	min-height: 100%;
	position: relative;
}

#bloc-principal {
	padding-bottom: 100px;
}

#footer {
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.boutonCouleur {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 8px;
}

/*
.boutonCouleur:active {
  width: 80px;
  height: 80px;
  margin: 30px;
  float:left;
  border-radius: 8px;
  box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
*/
.boutonCouleurActif {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 32px;
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

.boutonCase {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 8px;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	font-size: 12pt;
}

.boutonCaseActif {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 32px;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	font-size: 12pt;
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

.div-login {
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #FF9300;
	padding:20px;
	margin-right: 40px;
}

.messageExercice{
	font-weight: bold;
	font-size: 14pt;
}

.infosClient{
	font-size: 8pt;
}

.boutonGeneral {
	border-radius: 4px;
	background-color: #D0E09D;
}

.boutonGeneral2 {
	border-radius: 4px;
	background-color: #D0E09D;
	font-size: 14pt;
	margin-bottom: 10px;
}


.div-haut {
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	/*border-color: #FF9300;*/
	border-color: black;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	height:70px;
}

.div-milieu{
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	/*border-color: #FF9300;*/
	border-color: white;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
}

#left{float:left;width:140px;padding-left:10px;}
#right{float:right;width:50px;padding:10px;}
#center{
	margin:0 auto;
	width:400px;
	font-weight: bold;
	font-size: 16pt;
	margin-top: 20px;
	}

#milieu-left{
	float:left;
	margin-left: 200px;
}

#milieu-right{
	float:right;
	margin-right: 200px;
}

.btn-case-vide{
	width: 80px;
    height: 80px;
	border-width: 2px;
	border-style: solid;
	margin: 20px;
}

.btn-case{
	width: 80px;
    height: 80px;
	background-repeat : no-repeat;
	border-width: 8px;
	border-radius: 8px;
	border-style: solid;
	margin: 20px;
}	
.btn-case-fleche{
	background-image : url("../images/fleche.png");
}

.btn-case-etoile{
	background-image : url("../images/etoile.png");
}

.btn-case-rond{
	background-image : url("../images/rond.png");
}

.btn-case-croix{
	background-image : url("../images/croix.png");
}

.btn-case-lune{
	background-image : url("../images/lune.png");
}

.groupe-case{
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
}

.groupe-case-correct{
	border-color: green;
	border-width: 5px;
}

.signe{
	font-weight: bold;
	font-size: 24pt;
}

/* dominos */
.domino-groupe-plein{
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	display:inline-block;
	margin: 5px;
}

.domino-groupe-pointille{
	border-width: 2px;
	border-radius: 8px;
	border-style: dotted;
	display:inline-block;
	margin: 5px;
}

.domino-groupe-cache{
	visibility:hidden;
}

.domino{
	border-radius: 8px;
	border-style: solid;
	font-weight: bold;
	font-size: 24pt;
	width: 60px;
    height: 60px;
	border-width: 2px;
	margin: 5px;
}

.domino-div{
	height: 150px;
	margin-left: 100px;
}

/* case nombre */
.case-nombre{
	border-radius: 8px;
	border-style: solid;
	font-weight: bold;
	font-size: 24pt;
	width: 60px;
    height: 60px;
	border-width: 2px;
	margin: 5px;
}

/* trou */
.trou-pointille{
	border-width: 2px;
	border-radius: 8px;
	border-style: dotted;
	margin: 5px;
	width: 60px;
    height: 60px;
    font-weight: bold;
	font-size: 24pt;
}

.trou-plein{
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	margin: 5px;
	width: 60px;
    height: 60px;
    font-weight: bold;
	font-size: 24pt;
}