/* app css stylesheet */
.boutonCouleur {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 8px;
}

/*
.boutonCouleur:active {
  width: 80px;
  height: 80px;
  margin: 30px;
  float:left;
  border-radius: 8px;
  box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
*/
.boutonCouleurActif {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 32px;
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

.boutonCase {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 8px;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	font-size: 12pt;
}

.boutonCaseActif {
	width: 80px;
	height: 80px;
	margin: 30px;
	border-radius: 32px;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	font-size: 12pt;
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}

.div-login {
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #FF9300;
	padding:20px;
	margin-right: 40px;
}

.messageExercice{
	font-weight: bold;
	font-size: 14pt;
}

.boutonGeneral {
	border-radius: 4px;
	background-color: #D0E09D;
}

.boutonGeneral2 {
	border-radius: 4px;
	background-color: #D0E09D;
	font-size: 14pt;
	margin-bottom: 10px;
}


.div-haut {
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	/*border-color: #FF9300;*/
	border-color: black;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	height:70px;
}

.div-milieu{
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	/*border-color: #FF9300;*/
	border-color: white;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
}

#left{float:left;width:140px;padding-left:10px;}
#right{float:right;width:50px;padding:10px;}
#center{
	margin:0 auto;
	width:400px;
	font-weight: bold;
	font-size: 16pt;
	margin-top: 20px;
	}

#milieu-left{
	float:left;
	margin-left: 300px;
}

#milieu-right{
	float:right;
	margin-right: 300px;
}

.btn-case-vide{
	width: 80px;
    height: 80px;
	border-width: 2px;
	border-style: solid;
	margin: 5px;
}

.btn-case{
	width: 80px;
    height: 80px;
	background-repeat : no-repeat;
	border-width: 8px;
	border-radius: 8px;
	border-style: solid;
	margin: 20px;
}	
.btn-case-fleche{
	background-image : url("../images/fleche.png");
}

.btn-case-etoile{
	background-image : url("../images/etoile.png");
}

.btn-case-rond{
	background-image : url("../images/rond.png");
}

.btn-case-croix{
	background-image : url("../images/croix.png");
}

.btn-case-lune{
	background-image : url("../images/lune.png");
}

